---
import Nav from "../components/Nav.astro";
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Sevices from "../components/Services.astro";
---

<Layout title="JJ Plumbing and Gas">
  <Nav />
  <Hero />
  <Sevices />
  <div class="mb-32">

  </div>
</Layout>
