---
import Instagram from "../icons/instagram.astro";
---

<section
  class="bg-primary-100/10 w-full rounded-md py-8 px-2 pb-44 mt-10"
  id="footer"
>
  <div class="w-full mx-auto max-w-4xl px-4 grid grid-cols-2">
    <div class="flex gap-x-2 items-center">
      <Instagram />
      <a target="_blank" href="https://www.instagram.com/jjplumbing.dmv/">
        @jjplumbing.dmv
      </a>
    </div>
    <div class="flex flex-col">
      <h2>Contact</h2>
      <a class="text-primary-100" href="mailto:jjplumbing.gas@gmail.com">jjplumbing.gas@gmail.com</a>
      <a class="text-primary-100" href="tel:+12406413176">
        +1 240 641 3176
      </a>
    </div>
  </div>
</section>
