<form class="w-full" id="contact">
  <h3 class="text-2xl font-bold">Get in touch with us!</h3>
  <h3 class="text-2xl font-bold">We’d love to help</h3>
  <div class="mt-4">
    <label for="name" class="block">Name</label>
    <input
      type="text"
      id="name"
      class="w-full p-2 bg-white rounded-lg"
      placeholder="Alex"
    />
  </div>
  <div class="mt-4">
    <label for="email" class="block">Email</label>
    <input
      type="email"
      id="email"
      class="w-full p-2 bg-white rounded-lg"
      placeholder="email@example.com"
    />
  </div>
  <div class="mt-4">
    <label for="phone" class="block">Phone number</label>
    <input
      type="text"
      id="phone"
      class="w-full p-2 bg-white rounded-lg"
      placeholder="+1 (555) 555-5555"
    />
  </div>
  <div class="mt-4">
    <label for="message" class="block">Message</label>
    <textarea
      id="message"
      class="w-full p-2 bg-white rounded-lg resize-none"
      placeholder="Let us know what you need"
      rows="5"></textarea>
  </div>
  <button
    class="w-full h-fit flex gap-x-2 px-4 py-2 bg-primary text-white whitespace-nowrap rounded-md text-center justify-center items-center font-bold"
  >
    Submit
  </button>
</form>
