---
import "@fontsource/figtree";
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="JJ plumbing and gas" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/logo.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="w-full text-primary">
    <div
      class="bg-primary-100/20 md:w-full w-4/6 md:max-w-sm aspect-square rounded-bl-3xl absolute top-0 right-0 z-0"
    >
    </div>
    <main class="w-full z-10 relative">
      <slot />
    </main>
  </body>
</html>
